<h1>Sign Up Form</h1>


<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">
    <button>Submit</button>
</form>

<ul><a href="/register">Sign Up</a></ul>
<ul><a href="/login">Login</a></ul>
<ul><a href="/logout">Logout</a></ul>